<ion-header>
  <ion-navbar color="primary"></ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let game of games">
        {{game.opponent}}
    </ion-item>
  </ion-list>
</ion-content>
