
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button *ngFor="let team of teams" ion-item (click)="itemTapped($event, team)">
    {{team.name}}
  </button>

</ion-content>
