<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select a Tournament</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button *ngFor="let item of tournaments" ion-item (click)="itemTapped($event, item)">{{item.name}}</button>
  </ion-list>
</ion-content>
